@model TodoApp.Host.Models.IndexViewModel

<div class="modal fade" id="deleteTodoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete TODO item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this TODO item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/Home/DeleteTodo" method="post">
                    <input type="hidden" name="id" />
                    <input name="page" value="@Model.Page" type="hidden" />
                    <input name="pageSize" value="@Model.PageSize" type="hidden" />
                    <input name="searchString" value="@Model.SearchString" type="hidden" />
                    <input name="isCompleted" value="@(Model.IsCompleted == true ? "true" : (Model.IsCompleted == false ? "false" : "null"))" type="hidden" />
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>