@{
    ViewData["Title"] = "Home Page";

}
@model TodoApp.Host.Models.IndexViewModel

<h2 class="display-5">Your TODOs</h2>

@await Html.PartialAsync("_Navigation", Model)

@await Html.PartialAsync("_TodoItemList", Model)

@await Html.PartialAsync("_Pagination", Model)

@await Html.PartialAsync("_DeleteModal", Model)